<div class="w-full border-b-2 border-gray-500">
  <div class="container mx-auto py-7 px-5 flex items-center justify-between">
    <img class="max-h-12" src="../../../../assets/img/logo/logo_black-10.png" alt="">
    <div class="flex justify-between space-x-10">
      <ul class="flex justify-start space-x-8 text-xl">
        <li class="font-bold cursor-pointer">Home</li>
        <li class="font-bold cursor-pointer">About Us</li>
        <li class="font-bold cursor-pointer">Products</li>
        <li class="font-bold cursor-pointer">Blog</li>
        <li class="font-bold cursor-pointer">Contact</li>
      </ul>
      <div class="space-x-1 cursor-pointer">
        <span class="bg-coffe-300 rounded-full px-1 text-sm">0</span>
        <fa-icon [icon]="faShoppingCart"></fa-icon>
      </div>
    </div>
  </div>
</div>
