<app-header></app-header>
<div class="w-full bg-coffe-900 py-24">
  <div class="container mx-auto text-white space-y-4">
    <h1 class="text-7xl font-extrabold">Blog</h1>
    <ul class="flex items-center gap-2 font-extrabold text-lg">
      <li class="text-coffe-300">CafeTec</li>
      <li class="text-xs">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </li>
      <li>Blog</li>
    </ul>
  </div>
</div>
<div class="w-full bg-white py-24">
  <div class="container mx-auto flex">
    <div class="w-3/4 px-8">

    </div>
    <div class="w-1/4 px-8 py-10 bg-coffe-200 bg-opacity-20 rounded-sm">
      <div class="pb-6">
        <h3 class="text-3xl font-extrabold border-b border-coffe-300 pb-3">Categories</h3>
        <ul class="py-8 space-y-4">
          <li *ngFor="let categorie of categories" class="space-x-2 cursor-pointer">
            <fa-icon class="text-xs text-coffe-400" [icon]="faChevronRight"></fa-icon>
            <span class="font-bold">{{categorie}}</span>
          </li>
        </ul>
      </div>
      <div class="pb-6">
        <h3 class="text-3xl font-extrabold border-b border-coffe-300 pb-3">Calendar</h3>
        <div class="p-8">
          <table class="w-full">
            <caption class="text-center text-coffe-300 font-extrabold text-lg pb-5">Diciembre 2021</caption>
            <thead>
              <tr>
                <th *ngFor="let day of days" class="text-xs font-bold py-2">
                  {{day.sigla}}
                </th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
