<app-header></app-header>
<div class="w-full bg-coffe-900 py-24">
    <div class="container mx-auto text-white space-y-4">
        <h1 class="text-7xl font-extrabold">Contactanos</h1>
        <ul class="flex items-center gap-2 font-extrabold text-lg">
            <li class="text-coffe-300">CafeTec</li>
            <li class="text-xs">
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </li>
            <li>Contactanos</li>
        </ul>
    </div>
</div>
<div class="w-full bg-white py-24">
    <div class="container mx-auto flex">
        <div class="w-2/3">
            <h4 class="font-extrabold text-3xl pb-11 ">Oficina Central</h4>
            <p class=" text-justify w-2/3 pb-10 ">Nam eu mi eget velit vulputate tempor gravida quis massa.
                In malesuada condimentum ultrices. Sed et mauris a purus fermentum elementum.
                Sed tristique semper enim, et gravida orci iaculis et. Nulla facilisi.</p>
            <ul class="w-2/3 text-justify space-y-3 text-sm font-bold">
                <li>
                    <fa-icon [icon]="faPhoneAlt"></fa-icon>
                    <span class="head "> +53 930319589 </span>
                </li>
                <li>
                    <span class="head "> MYCOFFEESHOP </span>
                </li>
                <li>
                    <span class="head "> 29 NICOLAS STR, NEW YORK, 987597-50 </span>
                </li>
            </ul>
            <div class="head pt-5 pb-5">Social</div>
            <fa-icon [icon]="faFax" ></fa-icon>
        </div>
        <div class="w-1/2 space-y-4">
            <div>
                <h4 class="font-bold text-xl "> Tu Nombre</h4>
                <input type="text" class="w-2/3 ">
            </div>
            <div>
                <h4 class="font-bold text-xl "> Tu Correo Electronico</h4>
                <input type="text" class="w-2/3 ">
            </div>
            <div>
                <h4 class="font-bold text-xl ">Tu Mensaje</h4>
                <input type="text" class="w-2/3 ">
            </div>
            <button
                class=" px-5 sm:px-8 py-2 sm:py-3 bg-coffe-300 text-white sm:font-bold text-xs sm:text-sm space-x-2">Enviar
            </button>
        </div>
    </div>
</div>
<div class="w-full bg-white py-24">
    <div class="container mx-auto flex">
        <div class="w-2/3"></div>
            <h4 class="font-extrabold text-3xl pb-11 ">Puntos de venta y entrega</h4>

        <div class="w-2/3"></div>
    </div>
</div>



<app-footer></app-footer>